.img_render{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;

}

.pdf_render{
    border: 1px solid #ccc;
    border-radius: 6px;
    /* pointer-events: none; */
}

.video_render{
    width: 100%;
    height: 150px;
    border-radius: 6px 
}

.fallback{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fafafaff;
    border-radius: 6px;
    font-size: 14px;
    color: #777;
}

.file_main{
    padding: 20px; 
    background-color: white; 
    height: 82vh;
    width: 100%;
    border-radius: 15px;
}