.header{
    flex: 1;
    display: flex;
    height: 63px;
    width: 100vw;
}
.header>div {
    padding: 12px;
}

.header_logo {
    margin-left: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header_logo>img {
    height: 100%;
    object-fit: contain;
}

.header_logo>span {
    color : #444746;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
}

.header_searchContainer{
    flex : 1;
    display: flex;
    align-items: center;
    padding: 8px;
}

.header_searchBar{
    display: flex;
    width: 60%;
    height: 120%;
    border-radius: 30px;
    background-color: #E9EEF6;
    align-items: center;
    justify-content: space-between;
    padding: 0px 8px;
    margin-left: 10%;
}

.MuiSvgIcon-root {
    color: rgb(82,82,82);
}
.header_searchBar>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2%;
    width: 80%;

}

.header_searchBar>div>input{
    flex: 1;
    height: 60%;
    font-size: 16px;
    color: black;
    background: none;
    border: none;
    margin-left: 12px;
    outline: none;
}

.header_searchBar:focus-within{
    background-color: white;
    box-shadow: 2px 1px 6px #444746;
}

.header_icons{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30px;
}

.header_icons .MuiSvgIcon-root{
    font-size: 28px;
    padding: 5px 7px;
}
.header_icons_inner_gemini{
    padding: 5px 7px;
}
.header_icons_inner:hover,.header_icons_inner_gemini:hover{
    border-radius: 50%;
    background-color: #DADCDE;
    cursor: pointer;
}
