.rightSideBar{
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    margin-top: 20px;
}
.rightsidebar_inner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 10px;
}
.rightsidebar_inner>img{
    width:24px;
    height:24px;
}
.rightsidebar_inner:hover{
    border-radius: 50%;
    background-color: #DADCDE;
    cursor: pointer;
}